@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

#intro {
    min-height: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("rigel.jpg");
    background-size: cover;
    background-position: top 40px center;
}

.intro-decor {
    width: 100vw;
    height: 130px;
    background-color: transparent;
    background-image: url("decor.svg");
    background-size: cover;
    background-position: bottom center;
    filter: drop-shadow(0 0 30px #333);
}

.intro-decor-bot {
    bottom: 0;
    width: 100vw;
    background: white;
    box-shadow: 0 -12px 10px #3333;
}

#title-box-outer {
    height: 130px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-box-outer div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    #title {
        margin: -8pt 0;
        font-size: 30pt;
    }
}

@media (min-width: 500px) {
    #title {
        margin: -16pt 0 -12pt 0;
        font-size: 45pt;
    }
    .vote {
        font-size: 15pt;
    }
}

#title {
    font-family: 'Abril Fatface';
    white-space: nowrap;
    display: inline;
}

.flex-start {
    align-self: flex-start;
}

.flex-end {
    align-self: flex-end;
}

#nav {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 80%;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#nav li {
    margin: 4pt;
    padding: 8pt;
}

a {
    color: rgb(3, 26, 77);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(230, 149, 0);
}

.highlighted {
    border: 3px solid rgb(3, 26, 77);
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.highlighted:hover {
    border-color: rgb(230, 149, 0);
}

.content {
    margin: 50pt auto;
    width: 80%;
    max-width: 700px;
}

#pics {
    background-color: rgb(3, 26, 77);
    overflow: auto;
}

#picbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#picbox a {
    flex: 1 0 auto;
    width: 200px;
    margin: 8px;
}

.image {
    display: flex;
    align-items: flex-end;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.label {
    vertical-align: inherit;
    padding: 7pt 7pt;
    margin-bottom: 8px;
    width: 100%;
    color: white;
    background-color: rgba(3, 26, 77, 0.7);
}

#footer {
    color: white;
    background-color: rgb(230, 149, 0);
    overflow: auto;
    font-size: 10pt;
    text-align: center;
}
