.logo {
    background-image: url("/assets/logo-light.png");
}

#nav a {
    color: white;
}

#nav .highlighted {
    border-color: white;
}

@media screen and (max-width: 700px) {
    #nav a {
        color: white;
    }

    #nav .highlighted {
        border-color: white;
    }

    #navchk-btn {
        background-color: #d2e3f3;
        color: #0c3b66;
    }

    #navchk:checked ~ #navchk-btn {
        background-color: white;
    }
}
