@import url('https://fonts.googleapis.com/css?family=Taviraj:500,700;Roboto:400,300');

html, body {
   overflow-x: hidden;
//   font-family: "Roboto";
   font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
   font-family: Taviraj;
   font-weight: 500;
}

.site-header {

   .wrapper {
      text-align: center;
   }

   .real_header {
       background-color: #0c3b66;
       background: linear-gradient(135deg, rgba(12,59,102,1) 0%, rgba(8,94,115,1) 100%);
   }
   
   .site-title {
      margin: 10pt auto;
      display: inline-block;
      
      .site-logo {
         filter: drop-shadow(0 0 5px black);
         width: 300px;
      }
   }

   .site-nav {
      
      @include media-query($on-palm) {
      }
      @include media-query-not($on-palm) {
         background-color: darken(#0c3b66, 10);
         margin: 0 -9999rem;
         /* add back negative margin value */
         padding: 0.25rem 9999rem;
         padding-top: 10pt;
         padding-bottom: 10pt;
      }
   }

   .imagebar-wrapper {
      background-color: #FAFAFA;
      margin: 0 -9999rem;
      /* add back negative margin value */
      padding: 0 9999rem;
      overflow: hidden;
      
      .container {
         display: flex;
         font-weight: 800;
      }
      
      .text {
         display: flex;
         flex-direction: column;
         justify-content: center;

         h1 {
            font-weight: 700;
         }
         h2 {
            font-family: $base-font-family;
            font-weight: 300;
         }
      }

      img {
         filter: drop-shadow(0 0 2px #E0E0E0);
         height: 250pt;
      }
   }
}

.box-container-h {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: 300pt;
   margin: 60pt -5pt;

   align-items: stretch;
   
   .link-box {
      text-align: center;
      border: 7pt solid $grey-color-light;
      min-width: 180pt;
      min-height: 45pt;

      margin: 5pt;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;

      color: $grey-color-light;
      font-size: 22pt;
      font-weight: 400;
      overflow: hidden;

      .bg {
         position: relative;
         /*
         left: -3px;
         right: -3px;
         top: -3px;
         bottom: -3px;
         */
         height: 100%;
         background-color: darkblue;
         background-size: cover;
         background-position-x: center;
         background-position-y: 30%;
         filter: brightness(0.5) blur(1.5px);
      }
      .label {
         position: relative;
         left: 0;
         right: 0;
         bottom: 60%;
      }

      filter: drop-shadow(0 0 2px #BBB);
   }

   .link-box:hover {
      .bg {
         filter: brightness(0.3) blur(1px);
         -webkit-transition: .2s -webkit-filter ease-in-out;
         -moz-transition: .2s -moz-filter ease-in-out;
         transition: .2s filter ease-in-out, .2s -webkit-filter ease-in-out;
      }
   }
}

.box-container-v {
   display: flex;
   flex-direction: column;
   min-width: 180pt;
   min-height: 45pt;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;

   .link-box {
   }
}

.legislation {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

   .leglinks {
      margin-top: -6pt;
      margin-bottom: 5pt;
      margin-left: -2pt;
      margin-right: -2pt;

      .leglink {
         font-size: 10pt;
         padding: 2pt 4pt;
         margin: 0 2pt;
         border: 1px solid $grey-color-light;
         border-radius: 5px;
      }
   }
}

.staff2 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.person {
   margin: 10pt;
   padding: 10pt 10pt;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: 300px;
   box-shadow: 0 0 5px $grey-color-light;

   img, .img {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      box-shadow: 0 0 2px black;
   }

   .img {
      height: 400px;
      background-size: cover;
      background-position: center;
   }
}

.page-link b {
   // border-bottom: 3px solid white;
}


#newsroom-stretchbox {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 20pt 9999rem;
    margin-bottom: 20pt;

    background-color: $brand-color;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
    }

    h2 {
        margin: 0;
    }

    #newsroom-subscribe-text {
        padding: 5pt;
        border: 2px solid white;
        border-radius: 3pt;
    }

    #newsroom-subscribe-form {
        display: none;
    }
}



form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

form input {
    display: block;
    flex-grow: 1;
    padding: 8pt;
    font-size: 10pt;
    margin: 2px 2px;
    background: rgba(255, 255, 255, 0.878);

    border-radius: 3pt;
}

form button {
    display: block;
    flex-grow: 0.4;
    background: transparent;
    border-color: #ffd488;
    font-weight: 600;
    font-size: 12pt;
    color: #ffd488;
    transition: color 0.3s ease;
    margin: 2px 2px;

    border-radius: 3pt;
}

form button:hover {
    background: #0c3b66;
    color: #ffd488;
}

.form-ackbox {
    display: none;
}
