<!DOCTYPE html>
<html>

<head>
    <title>Rigel Robinson | Insert slogan here</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body class="bluebg">
    <div class="lightbluebg">
        <div class="content">
            <h1>To win this campaign, we'll need your help. Join the campaign here:</h1>
            %% NAMEEMAIL %%
        </div>
    </div>

    %% FOOTER %%

    <script src="nameemail.js" type="text/javascript"></script>
</body>

</html>
