<!DOCTYPE html>
<html>

<head>
    <title>Take Action | Rigel Robinson for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body class="bluebg">
    <div class="blurcontainer">
        <div class="blurbg" style="background-image: url('assets/students.jpg'); background-position: center"></div>
        <div class="blurbg" style="background-color: #06244180"></div>
        <div class="blurfg">
            <div id="titlebar">
                <style>#nav a { color: white; } #nav .highlighted { border-color: white; } .logo { background-image: url("/assets/logo-light.png"); }</style>
                %% TITLEBAR %%
            </div>
            <div class="content" style="margin-top: 200px; margin-bottom: 200px;">
                <h1>To win this campaign, we'll need your help. <br />
                    Join the campaign here:</h1>
                %% NAMEEMAIL %%
            </div>
        </div>
    </div>

    %% FOOTER %%

    <script src="resources/nameemail.js" type="text/javascript"></script>
</body>

</html>
