<!DOCTYPE html>
<html>

<head>
    %% ANALYTICS %%
    <title>Take Action | Rigel Robinson for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <link rel="stylesheet" href="resources/title-light.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="To win this election, we’ll need your help. Join the campaign here." />
    <meta property="og:image" content="http://rigelrobinson.com/assets/rigel-og-preview.jpg" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body class="bluebg">
    <div class="studentbg" id="studentbg">
        <div style="overflow: hidden; background-color: rgba(6, 36, 65, 0.5)">
            <div id="titlebar">
                <style>#nav .action { border-style: solid; }</style>
                %% TITLEBAR %%
            </div>
            <div class="content" style="margin-bottom: 150pt;">
                <h1>To win this election, we'll need your help. <br />
                    Join the campaign here:</h1>
                %% NAMEEMAIL %%
            </div>
        </div>
    </div>

    <script src="resources/bgload.js" type="text/javascript"></script>
    <script type="text/javascript">
        loadBg("studentbg", "/assets/students.png");
    </script>

    %% FOOTER %%
</body>

</html>
