<!DOCTYPE html>
<html>

<head>
    <title>Rigel Robinson | A student voice for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="intro">
        <div id="titlebar">
            %% TITLEBAR %%
        </div>
    </div>
    <div class="content">
        <h1>Hi! I'm Rigel Robinson.</h1>
        <p>
            During my four years at the University of California, Berkeley, I’ve been fighting to elevate student narratives at every level of government — and today, I’m running for Berkeley City Council because it’s time for students to have a seat at the table.
        </p>
        <p>
            UC Berkeley was my dream school, and it has been the privilege of a lifetime to earn my degree here. But beneath the blue and gold, students are struggling every day to make ends meet. Housing, food, and safety are basic needs, and they aren’t always being met. And while students make up almost a third of this city’s population, we are often missing in the conversations that affect us most.
        </p>
        <p>
            This campaign is about making sure that you are heard. We need strong advocates who understand the campus community from the perspective that matters most: ours. Four years ago, students led an effort to redistrict District 7 into the nation’s first student supermajority district — with the hope that, someday, students would elect one of their own to be their voice in City Hall. Now, it’s time.
        </p>
        <p>
            I’m here because my dad taught me the power of an education and my mom taught me that there’s nothing more important than helping others. I’m here out of love for my friends, my neighbors, and the City of Berkeley. I’ve been doing the work, but I’m not done yet.
        </p>
        <p>
            It’s a long road to November. It won’t be easy, but working together, it might even be fun.
        </p>
        <p>
            I hope you’ll join me,<br />
            Rigel
        </p>


        <p style="text-align: right;">
            <a href="meet.html">
                <span class="highlighted" style="display: inline-block; padding: 8pt;">
                    Learn more about Rigel
                </span>
            </a>
        </p>
    </div>
    <div class="lightbluebg">
        <div class="content">
            <h1>Join the campaign:</h1>
            %% NAMEEMAIL %%
        </div>
    </div>

    %% FOOTER %%

    <script src="resources/nameemail.js" type="text/javascript"></script>
</body>
</html>
