<!DOCTYPE html>
<html>

<head>
    <title>Rigel Robinson | A student voice for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="intro">
        <div id="intro-titlebar">
            %% TITLEBAR %%
        </div>
    </div>
    <div class="content">
        <h1>My story</h1>
        <p>
            During his four years at the University of California, Berkeley, Rigel Robinson dedicated himself to fighting for students, from city hall to Washington, D.C. Now, he’s running to be their voice on the Berkeley City Council.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare ultrices dolor a blandit. Suspendisse finibus tellus justo, pulvinar imperdiet lacus varius a. Donec non dapibus neque. Mauris vel tortor nec diam luctus hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta sodales sodales.
        </p>

        <p style="text-align: right;">
            <a href="meet.html">
                <span class="highlighted" style="display: inline-block; padding: 8pt;">
                    Learn more about Rigel
                </span>
            </a>
        </p>
    </div>
    <div class="lightbluebg">
        <div class="content">
            <h1>Join the campaign:</h1>
            %% NAMEEMAIL %%
        </div>
    </div>

    %% FOOTER %%

    <script src="resources/nameemail.js" type="text/javascript"></script>
</body>
</html>
