<!DOCTYPE html>
<html>

<head>
    %% ANALYTICS %%
    <title>Rigel Robinson | Progressive Leadership for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <link rel="stylesheet" href="resources/title-dark.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="During his four years at the University of California, Berkeley, Rigel Robinson has dedicated himself toward fighting for students. Now, he’s running for Berkeley City Council — because it’s time for students to have a seat at the table." />
    <meta property="og:image" content="http://rigelrobinson.com/assets/rigel-og-preview.jpg" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="intro">
        <div id="titlebar">
            %% TITLEBAR %%
        </div>
        <a href="#letter"><img src="assets/chevron.svg" /></a>
    </div>
    <div class="content" id="letter">
        <h1>Hi! I'm Rigel Robinson.</h1>
        <p>
            During my four years at the University of California, Berkeley, I’ve been fighting for progressive causes at every level of government — and today, I’m running for City Council because we need bold, progressive leadership for a better Berkeley.
        </p>
        <p>
            UC Berkeley was my dream school, and it has been the privilege of a lifetime to earn my degree here. But beneath the blue and gold, students and residents alike are struggling every day to make ends meet. Housing, food, and safety are basic needs, and they aren’t always being met. Students are often left out of the conversations that affect them the most, and residents often don’t receive the basic city services they pay for.
        </p>
        <p>
            Regardless of who you are, this campaign is about making sure that you are heard. Students deserve a strong advocate who understands the campus community from their perspective, and residents deserve a responsive, effective, and accountable Councilmember who can bridge the gap between university and city, and students and neighbors. I know I can, and will, be both. I’m lucky that so many others think so too — including all eight members of the City Council and the Mayor.
        </p>
        <p>
            I’m here because my dad taught me the power of an education and my mom taught me that there’s nothing more important than helping others. I’m here out of love for my friends, my neighbors, and the City of Berkeley. I’ve been doing the work, but I’m not done yet.
        </p>
        <p>
            It’s a long road to November. It won’t be easy, but working together, it might even be fun.
        </p>
        <p>
            I hope you’ll join me,<br />
            Rigel
        </p>


        <p style="text-align: right;">
            <a href="meet.html">
                <span class="highlighted" style="display: inline-block; padding: 8pt;">
                    Learn more about Rigel
                </span>
            </a>
        </p>
    </div>
    <div class="lightbluebg">
        <div class="content">
            <h1>Join the campaign:</h1>
            %% NAMEEMAIL %%
        </div>
    </div>

    %% FOOTER %%
</body>
</html>
