<!DOCTYPE html>
<html>

<head>
    %% ANALYTICS %%
    <title>Meet Rigel | Rigel Robinson for City Council</title>
    <link rel="stylesheet" href="resources/style.css" type="text/css" />
    <link rel="stylesheet" href="resources/title-dark.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="During his four years at the University of California, Berkeley, Rigel Robinson has dedicated himself toward fighting for students — from City Hall to Washington, D.C." />
    <meta property="og:image" content="http://rigelrobinson.com/assets/rigel-og-preview.jpg" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="meetbg">
        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <div style="background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.753) 80%);">
                <div id="titlebar">
                    <style>#nav .meet { border-style: solid; }</style>
                    %% TITLEBAR %%
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>Meet Rigel</h1>
        <p>
            As the former External Affairs Vice President of the Associated Students of the University of California, Rigel Robinson has fought for progressive causes at every level of government, from City Hall, to the Governor’s Office, to the halls of Congress.
        </p>
        <p><b>
            Now, he’s running for City Council — because it’s time for bold, progressive leadership for a better Berkeley.
        </b></p>

        <div class="meetsp"></div>

        <h2>THEN:</h2>
        <p>
            Though Rigel Robinson was raised in St. Louis, Missouri, UC Berkeley — the alma mater of his great-grandmother, the first woman to graduate from what is today the College of Natural Resources — was his dream school. Just three months into his first year, Rigel led a protest of more than 1,000 students in opposition to the proposed 2014 tuition hikes.
        </p>
        <p>
            Over the next four years, Rigel dedicated himself toward progressive causes. As a sophomore, Rigel co-founded UC Berkeley Students for Bernie, which went on to become the largest and most active campus chapter in the country. At the end of his sophomore year, Rigel was elected to serve as a senator with the ASUC — where he advocated for more student housing as chair of the Real Estate Student Board, and worked with environmental groups to successfully push the UC Regents to divest from the Dakota Access Pipeline.
        </p>

        <div class="meetsp"></div>

        <h2>NOW:</h2>
        <p>
            Rigel recently finished his term as the ASUC’s External Affairs Vice President, where he was responsible for advocating on behalf of the 40,000 students of UC Berkeley. Under Rigel’s leadership, his office successfully delayed January’s proposed tuition hike, protested a UC Regent accused of sexual harassment until he resigned, and galvanized students around the closure of the Alta Bates Medical Center.
        </p>
        <p>
            In addition, Rigel’s office has worked to ensure that Berkeley’s voice is heard in the halls of power — sending students to Sacramento to lobby for more state funding, turning out record-breaking numbers of students to city commission meetings, and hosting town halls with candidates and elected officials.
        </p>
        <p>
            Rigel also serves as the University Affairs Chair of the University of California Student Association, for which he acts as the primary liaison between the UCSA and the UC Office of the President. As Chair, he has advocated on behalf of students on a number of issues, from police accountability to basic needs insecurity.
        </p>
    </div>

    <div class="content">
        %% DISCLAIMER %%
    </div>

    %% FOOTER %%
</body>

</html>
