<a href="index.html">
    <div class="logo"></div>
</a>
<input id="navchk" style="display: none" type="checkbox" checked="checked" />
<label id="navchk-btn" for="navchk">☰</label>
<ul id="nav">
    <a href="meet.html">
        <li><span class="meet">Meet Rigel</span></li>
    </a>
    <a href="issues.html">
        <li><span class="issues">Issues</span></li>
    </a>
    <a href="endorsements.html">
        <li><span class="endorsements">Endorsements</span></li>
    </a>
    <a href="action.html">
        <li><span class="action">Take Action</span></li>
    </a>
    <a href="https://secure.anedot.com/rigel_robinson2018/donate">
        <li class="highlighted"><span>Donate</span></li>
    </a>
</ul>
