---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="box-container-h">
    {%- for column in site.boxlinks -%}
      <div class="box-container-v" >
        {%- for boxlink in column -%}
          <a class="link-box" href="{{ boxlink.link }}">
            <div class="bg" style="background-image: url('{{ boxlink.img }}')"></div>
            <div class="label">{{ boxlink.label }}</div>
          </a>
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>

  <div id="newsroom-stretchbox">
      <h2 class="post-list-heading">{{ page.list_title | default: "News" }}</h2>
      <div id="newsroom-subscribe">
          <a href="javascript:showForm()"><div id="newsroom-subscribe-text">
              Subscribe to our newsletter!
          </div></a>
          <div id="newsroom-subscribe-form">
              {%- include nameemail-form.html -%}
          </div>
          <script>
              function showForm() {
                  $('#newsroom-stretchbox .post-list-heading').text("Subscribe to our newsletter!");
                  $('#newsroom-subscribe-text').hide();
                  $('#newsroom-subscribe-form').show();
              }
          </script>
      </div>
  </div>

  {% assign newsroom = site.pages | where: 'permalink', '/newsroom/' | first %}
  <ul class="post-list">
      {%- for post in newsroom.articles limit:7-%}
      <li>
      <span class="post-meta">{{post.publication}}, {{ post.date }}</span>
      <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.headline }}
          </a>
      </h3>
      </li>
      {%- endfor -%}
  </ul>

</div>
